@model WorldHistoryBookStore.Models.discount

@{
    ViewBag.Title = "Delete";
}
<style>
    .main {
        background-color: white;
        border-color: black;
        border-width: thin;
        border-style: solid;
        border-radius: 10px;
        padding: 10px;
    }
</style>

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>

<h4>Discount</h4>
<hr />

<div class="main">
    <dl class="dl-horizontal">

        <dt>
            @*@Html.DisplayNameFor(model => model.discounttype)*@ Discount Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discounttype)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.store.stor_name)*@ Store Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.store.stor_name)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.lowqty)*@ Low Quantity
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lowqty)
        </dd>

        <dt>
           @* @Html.DisplayNameFor(model => model.highqty) *@ High Quantity
        </dt>

        <dd>
            @Html.DisplayFor(model => model.highqty)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.discount1)*@ Discount
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discount1)
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" />
        </div>
    }
</div>
<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
