@model WorldHistoryBookStore.Models.discount

@{
    ViewBag.Title = "Details";
}
<style>
    .dl-horizontal {
        background-color: white;
        border-color: black;
        border-width: thin;
        border-style: solid;
        border-radius: 10px;
        padding: 10px;
    }
</style>

<h2>Details</h2>

<div>
    <h4>Discount</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.discounttype)*@ Discount Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discounttype)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.store.stor_name)*@ Store Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.store.stor_name)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.lowqty)*@ Low Quantity
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lowqty)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.highqty)*@ High Quantity
        </dt>

        <dd>
            @Html.DisplayFor(model => model.highqty)
        </dd>
        <dt>
            @*@Html.DisplayNameFor(model => model.discount1)*@ Discount
        </dt>

        <dd>
            @Html.DisplayFor(model => model.discount1)
        </dd>


        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }, new { @class = "btn btn-primary" })
    </dl>
    @Html.ActionLink("Back to List", "Index")
</div>

