@model IEnumerable<WorldHistoryBookStore.Models.employee>

@{
    ViewBag.Title = "Index";
}
<style>
    .table {
        background-color: white;
    }
</style>

<h2>Employers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.emp_id)*@ ID
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.fname)*@ First Name
            </th>

            <th>
                @* @Html.DisplayNameFor(model => model.lname)*@ Last Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.minit)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.job_lvl)*@ Job Level
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.hire_date) *@ Hire Date
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.job.job_desc)*@ Job Description
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.publisher.pub_name)*@ Publisher Name
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.emp_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fname)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.lname)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.minit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.job_lvl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hire_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.job.job_desc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.publisher.pub_name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.emp_id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.emp_id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.emp_id })
                </td>
            </tr>
        }
</table>

<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
