@model WorldHistoryBookStore.Models.pub_info

@{
    ViewBag.Title = "Details";
}
<style>
    .dl-horizontal {
        background-color: white;
        border-color: black;
        border-width: thin;
        border-style: solid;
        border-radius: 10px;
        padding: 10px;
    }
</style>
<h2>Details</h2>

<h4>Publisher Info</h4>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.publisher.pub_name)*@ Publisher Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publisher.pub_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logo)
        </dd>

        <dt>
            @* @Html.DisplayNameFor(model => model.pr_info)*@ Publisher Info
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pr_info)
        </dd>


        @Html.ActionLink("Edit", "Edit", new { id = Model.pub_id }, new { @class = "btn btn-primary" })

    </dl>
</div>

    @Html.ActionLink("Back to List", "Index")

